<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email confirmation</title>
    <style>
        .footer{
            text-align: center;
        }

        .footer-logo{
            width: 200px;
        }
    </style>
</head>
<body>
    <p>Bonjour {{firstName}},</p>
    <p>Nous avons le plaisir de t'annoncer que ta demande d'authentification de la paire <b>{{brand}} {{model}}</b> a bien été enregistrée.</p>
    <p>
        Ta paire sera récupérée le <b>{{dayName}} {{dayNumber}} {{monthName}} {{year}}</b> à <b>{{hh}}h{{mm}}</b> à l'adresse suivante:<br>
        <b>{{address}}, {{zipCode}} {{city}}</b>
    </p>
    <p>Nous restons disponible pour toute question ou complément d'information.</p>
    <p>
        Cordialement,<br/>
        <b>L'équipe Snkr Trust</b>
    </p>
    <div className="footer">
        <img className="footer-logo" src="{{domain}}/images/logo.svg"/>
    </div>    
</body>
</html>